
<head>
<style>

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
    
}


body {
    rgba(225, 231, 232,.4);
}   

</style>


</head>

<body>
    

    <div class="carousel slide carousel-fade" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="title">
                 <h1> Только лучшие профессионалы</h1>
            </div>
         </div>
        <div class="item">
            <div class="title wt-box">
                  <h1> Только обоснованная аналитика </h1>
            </div>
        </div>
        <div class="item">
            <div class="title">
              <h1> Стабильная игра в плюс </h1>
            </div>
        </div>
        <div class="item">
            <div class="title">
                <h1> Прогнозы на самые топовые события </h1>
            </div>
            </div>
        <div class="item">
            <div class="title">
                <h1> Время зарабатывать с A-club </h1>
            </div>
        </div>
    </div>
       
</div>




</body>